<h1>Stock Details</h1>                                                                                                                   
 <p>
 <%= @userstocks.stock_symbol %><br>
 Stock Information : <%= @userstocks.stock_name %>
 </p>
 <%= link_to "remove", @userstocks, :confirm => "Are you sure ?", :method => :delete %>


